<div class="container">
    <form method="post" onsubmit="checkOperator()">
        <div class="row mt-4 mb-5">
            <div class="col">
                <h2>Bé tập tính</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Số thứ nhất
            </div>
            <div class="col-5">
                <input type="text" class="form-control" id="firstNumber" onblur="checkFunction()" value="{{firstNumber}}">
            </div>
            <div class="col-2 form-check">
                <input type="radio" class="form-check-input" name="operation" id="add" value="add">
                <label class="form-check-label" for="add">Cộng</label>
            </div>
            <div class="col-2 form-check">
                <input type="radio" class="form-check-input" name="operation" id="subtract" value="subtract">
                <label class="form-check-label" for="subtract">Trừ</label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                Số thứ hai
            </div>
            <div class="col-5">
                <input type="text" class="form-control" id="secondNumber" onblur="checkFunction()" value="{{secondNumber}}">
            </div>
            <div class="col-2 form-check">
                <input type="radio" class="form-check-input" name="operation" id="multiple" value="multiple">
                <label class="form-check-label" for="multiple">Nhân</label>
            </div>
            <div class="col-2 form-check">
                <input type="radio" class="form-check-input" name="operation" id="divide" value="divide">
                <label class="form-check-label" for="divide">Chia</label>
            </div>
        </div>
    </form>
    <div class="row mt-3">
        <div class="col-3">
            Kết quả
        </div>
        <div class="col-5">
            <form type="text" class="form-control" id="result">{{result}}</form>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Tính</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3">
            Thông báo
        </div>
        <div class="col-9">
            <p class="text-danger" id="warning"></p>
        </div>
    </div>
</div>